/* Tailwind 本体 */
 @import "tailwindcss";

/* Typography プラグイン */
 @plugin "@tailwindcss/typography";

/* 必要ならテーマカスタマイズ */
 @theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --color-brand: #4f46e5;
}

.prose-aizome h1,
.prose-aizome h2,
.prose-aizome h3 {
  border-bottom: 1px solid theme(colors.gray.300);
  padding-bottom: 0.3em;
}